* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}

.navigation-menu {
  list-style-type: none;
  margin-bottom: 1rem;
}

.navigation-menu li {
  display: inline-block;
}

.navigation-menu li a {
  padding: 0.5rem;
}

.active {
  font-weight: bold;
  color: red;
}
